<h1 class="text-3xl">This is about page</h1>
<button class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Homepage", root_path) %></button>