<h1 class="text-3xl">Article List</h1>

<%= render "articles/articles" %>
<button class="mt-8 px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Create Article", new_article_path,) %></button>